<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rengshaizidonghua_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,280},{44,30}}</string>
                <key>offset</key>
                <string>{8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,43},{44,30}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>rengshaizidonghua_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{44,36}}</string>
                <key>offset</key>
                <string>{6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,44},{44,36}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>rengshaizidonghua_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,276},{44,44}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,42},{44,44}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>rengshaizidonghua_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,206},{36,50}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,40},{36,50}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>rengshaizidonghua_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,202},{28,52}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,38},{28,52}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>rengshaizidonghua_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{40,50}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,38},{40,50}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>rengshaizidonghua_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,232},{48,42}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,42},{48,42}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>rengshaizidonghua_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,206},{50,28}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,47},{50,28}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>rengshaizidonghua_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,244},{48,34}}</string>
                <key>offset</key>
                <string>{-12,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,43},{48,34}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>rengshaizidonghua_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,290},{28,42}}</string>
                <key>offset</key>
                <string>{-12,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,25},{28,42}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>rengshaizidonghua_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,306},{38,30}}</string>
                <key>offset</key>
                <string>{13,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,45},{38,30}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>rengshaizidonghua_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,256},{32,46}}</string>
                <key>offset</key>
                <string>{-18,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,34},{32,46}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>rengshaizidonghua_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,222},{50,32}}</string>
                <key>offset</key>
                <string>{-9,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,27},{50,32}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>rengshaizidonghua_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,258},{40,46}}</string>
                <key>offset</key>
                <string>{8,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,24},{40,46}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>rengshaizidonghua_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{40,48}}</string>
                <key>offset</key>
                <string>{10,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,38},{40,48}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>rengshaizidonghua_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,76},{56,40}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,48},{56,40}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>rengshaizidonghua_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{28,58}}</string>
                <key>offset</key>
                <string>{-14,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,29},{28,58}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>rengshaizidonghua_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,32},{56,42}}</string>
                <key>offset</key>
                <string>{-9,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,26},{56,42}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>rengshaizidonghua_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,174},{52,46}}</string>
                <key>offset</key>
                <string>{5,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,24},{52,46}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>rengshaizidonghua_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,114},{32,60}}</string>
                <key>offset</key>
                <string>{8,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,28},{32,60}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>rengshaizidonghua_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,82},{62,30}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,51},{62,30}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>rengshaizidonghua_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{42,60}}</string>
                <key>offset</key>
                <string>{-12,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,30},{42,60}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>rengshaizidonghua_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,154},{50,54}}</string>
                <key>offset</key>
                <string>{-11,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,23},{50,54}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>rengshaizidonghua_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,82},{60,36}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,29},{60,36}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>rengshaizidonghua_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,64}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,25},{32,64}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>rengshaizidonghua_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{62,40}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,45},{62,40}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>rengshaizidonghua_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,148},{54,52}}</string>
                <key>offset</key>
                <string>{-9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,37},{54,52}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>rengshaizidonghua_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,42},{38,62}}</string>
                <key>offset</key>
                <string>{-12,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,23},{38,62}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>rengshaizidonghua_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,118},{60,34}}</string>
                <key>offset</key>
                <string>{-5,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,31},{60,34}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>rengshaizidonghua_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{40,62}}</string>
                <key>offset</key>
                <string>{6,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,22},{40,62}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>rengshaizidonghua_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{52,54}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,35},{52,54}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>rengshaizidonghua_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,44},{62,36}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,46},{62,36}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>rengshaizidonghua_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{32,62}}</string>
                <key>offset</key>
                <string>{-12,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,27},{32,62}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>rengshaizidonghua_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{62,38}}</string>
                <key>offset</key>
                <string>{-5,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,29},{62,38}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>rengshaizidonghua_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,120},{54,52}}</string>
                <key>offset</key>
                <string>{4,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,24},{54,52}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rengshaizidonghua_xulie.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:470e51eca36c0b609c9ca7b894a28802$</string>
            <key>textureFileName</key>
            <string>rengshaizidonghua_xulie.png</string>
        </dict>
    </dict>
</plist>
