<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loading_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{194,108}}</string>
                <key>offset</key>
                <string>{6,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,333},{194,108}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>loading_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{186,110}}</string>
                <key>offset</key>
                <string>{6,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{553,330},{186,110}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>loading_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,224},{180,114}}</string>
                <key>offset</key>
                <string>{6,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{556,324},{180,114}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>loading_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,340},{174,122}}</string>
                <key>offset</key>
                <string>{5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,315},{174,122}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>loading_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,464},{168,132}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,303},{168,132}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>loading_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,250},{160,142}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,292},{160,142}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>loading_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{154,148}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,285},{154,148}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>loading_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,406},{146,146}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,285},{146,146}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>loading_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,394},{154,144}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,289},{154,144}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>loading_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,490},{160,138}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,296},{160,138}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>loading_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,356},{168,132}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,303},{168,132}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>loading_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,122},{174,126}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,311},{174,126}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>loading_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{180,118}}</string>
                <key>offset</key>
                <string>{6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{556,320},{180,118}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>loading_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{186,112}}</string>
                <key>offset</key>
                <string>{6,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{553,328},{186,112}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>loading_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,110}}</string>
                <key>offset</key>
                <string>{6,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,331},{194,110}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>loading_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{186,110}}</string>
                <key>offset</key>
                <string>{6,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{553,330},{186,110}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>loading_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,114},{180,116}}</string>
                <key>offset</key>
                <string>{6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{556,322},{180,116}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>loading_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{174,126}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,311},{174,126}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>loading_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,232},{168,132}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,303},{168,132}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>loading_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,366},{160,138}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,296},{160,138}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>loading_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,250},{154,142}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{568,291},{154,142}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>loading_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,506},{146,146}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,285},{146,146}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>loading_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,598},{154,148}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,285},{154,148}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>loading_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{160,142}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,292},{160,142}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>loading_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{168,132}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,303},{168,132}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>loading_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,232},{174,122}}</string>
                <key>offset</key>
                <string>{5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,315},{174,122}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>loading_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,116},{180,114}}</string>
                <key>offset</key>
                <string>{6,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{556,324},{180,114}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>loading_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,112},{186,110}}</string>
                <key>offset</key>
                <string>{6,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{553,330},{186,110}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loadingxiaoguo.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a46cceabe2d6cf07a6116844ba094fa$</string>
            <key>textureFileName</key>
            <string>loadingxiaoguo.png</string>
        </dict>
    </dict>
</plist>
